<section id="footer">
    <div class="f_content">
        <div class="f_grid">
            <div>
                <p> © 2018-2021 FalixNodes Limited.</p>
            </div>
            <div>

            </div>
            <div>
                <p id="social-icons">
                <a href="https://youtube.com/FalixNodes"><i class="fab fa-youtube"></i></a> <a href="https://instagram.com/FalixNodes"><i class="fab fa-instagram"></i></a> <a href="https://twitter.com/FalixNodes"><i class="fab fa-twitter"></i></a> <a href="https://discord.gg/falixnodes"><i class="fab fa-discord"></i></a> 
            </div>
        </div>
    </div>
</section>