<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ base.url | prepend: site.url }}/assets/css/main.scss">
    <script src="{{ base.url | prepend: site.url }}/assets/js/dropdown-menus/apps.js"></script>
    <script src="{{ base.url | prepend: site.url }}/assets/js/dropdown-menus/get-started.js"></script>
    <script src="{{ base.url | prepend: site.url }}/assets/js/menu/menu.js"></script>
    <script src="{{ base.url | prepend: site.url }}/assets/js/menu/menu-mobile.js"></script>
    <script src="{{ base.url | prepend: site.url }}/assets/js/menu/menu.js"></script>
    <script src="{{ base.url | prepend: site.url }}/assets/js/include.js"></script>

    <script src="https://kit.fontawesome.com/db4a23598f.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script> 
    <script src="https://scripts.korbsstudio.com/ie-detect/dis-allow.js"></script>
</head>
<header id="h_">
    <div class="h_content">
        <div class="h_left">
            <h1 onclick="location.href = '{{ base.url | prepend: site.url }}/'">Falix Help Center</h1>
        </div>
        <div class="h_right">
            <div class="if_mobile">
                <button id="mobile_menu" onmouseover="openMobileMenu();" onmouseleave="closeMobileMenu();"><i class="fas fa-bars"></i></button>
                <div id="mm" class="mobile_menu">
                    <a style="margin-left: 0px;" href="https://falixnodes.net">Main Website</a>
                    <p>Apps:</p>
                    <ui>
                        <li onclick="location.href = 'https://software.falixnodes.net/'"><i class="fas fa-desktop"></i> Desktop Software</li>
                        <li onclick="location.href = 'https://github.com/FalixInc/FalixCoins-Miner/releases'"><i class="fas fa-desktop"></i> FalixCoins Miner</li>
                        <li onclick="location.href = 'https://play.google.com/store/apps/details?id=net.falixnodes.falixcoins'"><i style="margin: 0px 5px 0px 4px;" class="fas fa-mobile-alt"></i> FalixCoins</li>
                    </ui>
                    <p>Get Started:</p>
                    <ui>
                        <li onclick="location.href = 'https://client.falixnodes.net/'"><i class="fas fa-user"></i> Client Panel</li>
                        <li onclick="location.href = 'https://panel.falixnodes.net/'"><i class="fas fa-stream"></i> Game Panel</li>
                    </ui>
                </div>
            </div>
            <div class="if_desktop">
                <a href="https://falixnodes.net/" target="_blank">Main Website</a>
                <a onmouseover="open_dropdown_apps();" onmouseleave="close_dropdown_apps();">Apps <i class="fas fa-sort-down"></i></a>
                <ui onmouseover="open_dropdown_apps();" onmouseleave="close_dropdown_apps();" class="dropdown" id="dropdown_apps">
                    <li onclick="location.href = 'https://software.falixnodes.net/'"><i class="fas fa-desktop"></i> Desktop Software</li>
                    <li onclick="location.href = 'https://github.com/FalixInc/FalixCoins-Miner/releases'"><i class="fas fa-desktop"></i> FalixCoins Miner</li>
                    <li onclick="location.href = 'https://play.google.com/store/apps/details?id=net.falixnodes.falixcoins'"><i style="margin: 0px 13px 0px 8px;" class="fas fa-mobile-alt"></i> FalixCoins</li>
                </ui>
                <a onmouseover="open_dropdown_getStarted();" onmouseleave="close_dropdown_getStarted();">Get Started <i class="fas fa-sort-down"></i></a>
                <ui style="margin: 10px 0px 0px 172px;" onmouseover="open_dropdown_getStarted();" onmouseleave="close_dropdown_getStarted();" class="dropdown" id="dropdown_get-started">
                    <li onclick="location.href = 'https://client.falixnodes.net/'"><i class="fas fa-user"></i> Client Panel</li>
                    <li onclick="location.href = 'https://panel.falixnodes.net/'"><i class="fas fa-stream"></i> Game Panel</li>
                </ui>
            </div>
        </div>
    </div>
</header>