<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://falixnodes.net/assets/css/master.css">
    <script src="https://falixnodes.net/assets/js/mobile-menu.js"></script>
    <script src="https://kit.fontawesome.com/fc093d7fbf.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9C1BZ9CHQH"></script>
    <script src="{{site.baseurl}}/assets/js/minecraft-edition-picker.js"></script>
</head>
<style>
@font-face {
    font-weight: normal;
    font-family: Poppins;
    src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-weight: lighter;
    font-family: Poppins;
    src: url(/assets/fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-weight: bold;
    font-family: Poppins;
    src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
}
</style>