<div class="faq">
    <div class="qmf">
        <h1><i class="fa-duotone fa-hand-peace"></i> Welcome</h1>
        <p>Need help? Look around for what you're looking for. From Minecraft plugin setups, to troubleshooting.</p>
        <p>New to FalixNodes? Make sure to read our FAQ.</p>
        <br>
        <p>Can't find what you're looking for? Try asking for help on our support channel at our Discord server.</p>
        <button onclick="window.location.href = 'https://discord.gg/FalixNodes/'"><i class="fa-brands fa-discord"></i> Ask on Discord</button>
        <button onclick="window.location.href = 'https://twitter.com/FalixNodes/'"><i class="fa-brands fa-twitter"></i> DM @FalixNodes</button>
    </div>
    <div class="questions">
        <h1><i class="fa-duotone fa-face-thinking"></i> FAQ</h1>
        <div class="question">
            <h2>Will my server be 24/7?</h2>
            <p>If there are players online, the server will remain online; however, servers are automatically switched off after 30 - 40 minutes of inactivity.</p>
        </div>
        <div class="question">
            <h2>Why is my country blacklisted?</h2>
            <p>If we don't support your country as of now, then it fails in terms of economy therefore Ads in your country don't provide us good amount of income which is required to maintain the nodes.</p>
        </div>
        <div class="question">
            <h2>Is FiveM Supported?</h2>
            <p>FalixNodes Limited is a profit organization company, hence FiveM does not allow us to host FiveM servers. Due to FiveM's policy, we are not permitted to host their servers. </p>
        </div>
    </div>
</div>