---
---
<title>{{page.title}} | {{site.title}}</title>
{% include header.html %}

<section style="height: 300px;" id="hero">
    <h1>Falix</h1>
    {% include search-lunr.html %}
</section>

<section id="category">
    <div class="grid_ct">
        <div class="ct">
            <h1>Falix</h1>
            <p>Nothing is archived</p>
        </div>
        <div class="ct">
            <h1>Minecraft</h1>
            <p>Nothing is archived</p>
        </div>
        <div class="ct">
            <h1>Discord</h1>
            <p>Nothing is archived</p>
        </div>
    </div>
    {% include footer.html %}
</section>

