---
---
<title>{{page.title}} | {{site.title}}</title>
{% include header.html %}
<body onclick="closeMenu_apps(); closeMenu_support();">
<div class="sections">
    <section id="category">
        {% include category-header.html %}
        <div class="hc_categories">
            <div class="hc_category">
                <h1>Javascript</h1>
                <ui>
                    {% assign sorted = site.tags.discordJS | sort: "sticky" %}
                    {% for post in sorted %}
                        <a id="ica" onclick="location.href='{{ post.url }}'"><span id="article-icon">{{ post.icon }}</span> <span id="title">{{ post.title }}</span></a><br>
                    {% endfor %}
                </ui>
            </div>
            <div class="hc_category">
                <h1>Python</h1>
                <ui>
                    {% for post in site.tags.discordPY %}
                        <a id="ica" onclick="location.href='{{ post.url }}'"><span id="article-icon">{{ post.icon }}</span> <span id="title">{{ post.title }}</span></a><br>
                    {% endfor %}
                </ui>
            </div>
        </div>
    </section>
    <section>{% include footer.html %}</section>   
</div>
</body>
<style>#category-selection-Discord {background:  var(--accent)}</style>
