---
---
<title>{{page.title}} | {{site.title}}</title>
{% include header.html %}

<section style="height: 300px;" id="hero">
    <h1>Falix</h1>
    {% include search-lunr.html %}
</section>

<section id="category">
    <div class="grid_ct">
        <div class="ct">
            <h1>General</h1>
            <ui>
                {% for post in site.tags.fxgeneral %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ui>
        </div>
        <div class="ct">
            <h1>Support</h1>
            <ui>
                {% for post in site.tags.support %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ui>
        </div>
        <div class="ct">
            <h1>Falix Software</h1>
            <button id="ct_extra" onclick="location.href = 'https://software.falixnodes.net/'"><i class="fas fa-download"></i></button>
            <ui>
                {% for post in site.tags.desktopsoftware %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ui>
        </div>
        <div class="ct">
            <h1>FalixCoins Miner</h1>
            <button id="ct_extra" onclick="location.href = 'https://github.com/FalixInc/FalixCoins-Miner/releases'"><i class="fas fa-download"></i></button>
            <ui>
                {% for post in site.tags.miner %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ui>
        </div>
    </div>
    {% include footer.html %}
</section>

