---
---
<title>{{site.title}}</title>
{% include header.html %}

<section style="height: 300px;" id="hero">
    <h1>Help Center</h1>
    {% include search-lunr.html %}
</section>

<section id="category">
    <div class="grid_ct">
        <div id="home-only" class="ct" onclick="location.href = '{{ base.url | prepend: site.url }}/falix/'">
            <h1 id="home-only"><i class="fas fa-users-cog"></i> Falix</h1>
        </div>
        <div id="home-only" class="ct" onclick="location.href = '{{ base.url | prepend: site.url }}/minecraft/'">
            <h1 id="home-only"><i class="fa fa-cube"></i> Minecraft</h1>
        </div>
        <div id="home-only" class="ct" onclick="location.href = '{{ base.url | prepend: site.url }}/discord/'">
            <h1 id="home-only"><i class="fab fa-discord"></i> Discord</h1>
        </div>
        <div id="home-only" class="ct" onclick="location.href = '{{ base.url | prepend: site.url }}/archive/'">
            <h1 id="home-only"><i class="fas fa-archive"></i> Archive</h1>
        </div>
    </div>
    {% include footer.html %}
</section>