---
---
<title>{{site.title}}</title>
{% include header.html %}

<section style="height: 300px;" id="hero">
    <h1>Help Center</h1>
    {% include search-lunr.html %}
</section>

<section id="category">
    <div class="grid_ct">
        <div class="ct">
            <h1>Falix</h1>
            <button id="goGo_ct" onclick="location.href = '{{ base.url | prepend: site.url }}/falix/'"><i class="fas fa-long-arrow-alt-right"></i></button>
            <ui>
                <li><a href="{{ base.url | prepend: site.url }}/falix/general/getting-started/#signing-up">Signing up</a></li>
                <li><a href="{{ base.url | prepend: site.url }}/falix/general/getting-started/#being-part-of-our-discord-server">Being Part of our Discord Server</a></li>
                <li><a href="{{ base.url | prepend: site.url }}/falix/support/tickets-and-support/">Creating a Ticket</a></li>
            </ui>
        </div>
        <div class="ct">
            <h1>Minecraft</h1>
            <button id="goGo_ct" onclick="location.href = '{{ base.url | prepend: site.url }}/minecraft/'"><i class="fas fa-long-arrow-alt-right"></i></button>
            <ui>
                <li><a href="{{ base.url | prepend: site.url }}/minecraft/general/getting-started/#creating-a-server">Creating a Server</a></li>
                <li><a href="{{ base.url | prepend: site.url }}/minecraft/general/getting-started/#configuring">Configuring</a></li>
                <li><a href="{{ base.url | prepend: site.url }}/minecraft/general/getting-started/#setting-operators">Setting Operators</a></li>
                <li><a href="{{ base.url | prepend: site.url }}/minecraft/general/getting-started/#server-icon">Setting a Server Icon</a></li>
                <li><a href="{{ base.url | prepend: site.url }}/minecraft/general/getting-started/#connecting">Connecting to your server</a></li>
                <li><a href="{{ base.url | prepend: site.url }}/minecraft/bungeecord/getting-started">Getting Started with BungeeCord</a></li>
            </ui>
        </div>
    </div>
    {% include footer.html %}
</section>