---
---
<title>{{site.title}}</title>
{% include header.html %}
<img style="height: 390px !important;" id="heroIMG" src="">
<script type="text/javascript">
    var images = [
        // Screenshots were shotted by Korbs Studio
        // Using Terra plugin on a 1.17.1 Java Server
        // Using Complementary v4.2.2 shaders with Vanilla RTX-ish settings enabled 
        "https://falixnodes.net/assets/images/hero/1.webp",
        "https://falixnodes.net/assets/images/hero/2.webp",
        "https://falixnodes.net/assets/images/hero/3.webp",
        "https://falixnodes.net/assets/images/hero/3.webp",
        "https://falixnodes.net/assets/images/hero/4.webp",
        "https://falixnodes.net/assets/images/hero/5.webp",
        "https://falixnodes.net/assets/images/hero/6.webp",
        "https://falixnodes.net/assets/images/hero/7.webp",
        "https://falixnodes.net/assets/images/hero/8.webp"
    ];
    function randImg() {
        var size = images.length
        var choose = Math.floor(size * Math.random())
        document.getElementById('heroIMG').src = images[choose];
    }
    randImg();
</script>
<div class="sections">
    <section>{% include hero.html %}</section>
    <div class="help-home">
        <div class="boxWel">
            <h1>Welcome to our help center</h1>
            <p>Are you looking for something? Don't know how to do a particular task? or want guidance in configuring a plugin? You may check around for the solution here by selecting a category or using the search option. We urge that you read our <a href="https://discord.com/channels/710503370187735160/898620220015530035">FAQ</a> before reading further or contacting us for assistance. </p>
        </div>
        <div class="category-selection">
            <div onclick="location.href = '/falix'" class="category-select">
                <i class="fa-light fa-square-f"></i>
                <p>General</p>
                <i id="cright" class="fa-light fa-arrow-right"></i>
            </div>
            <div onclick="location.href = '/minecraft'" class="category-select">
                <i class="fa-light fa-cube"></i>
                <p>Minecraft</p>
                <i id="cright" class="fa-light fa-arrow-right"></i>
            </div>
            <div onclick="location.href = '/discord'" class="category-select">
                <i class="fa-brands fa-discord"></i>
                <p>Discord</p>
                <i id="cright" class="fa-light fa-arrow-right"></i>
            </div>
            <div onclick="location.href = 'https://discord.com/channels/710503370187735160/829662494930239498'" id="ohno" class="category-select">
                <i class="fa-light fa-hand-wave"></i>
                <p>Help! I can't find what I'm looking for!</p>
                <i id="cright" class="fa-light fa-arrow-right"></i>
            </div>
        </div>
    </div>
    <section>{% include footer.html %}</section>
</div>
<style>
@media only screen and (max-width:720px) {
    .help-home {grid-template-columns: calc(100% - -40px) !important;}
}
.help-home {
    width: var(--clamp);
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 37px;
    margin: 40px 0px;
}
.boxWel {
    background: var(--secondary-background);
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    text-align: center;
}
.boxWel h1 {font-size: 24px;}
.boxWel svg {
    font-size: 100px !important;
    margin: 20px 0px;
}

.category-select {
    background: transparent;
    border: 2px var(--secondary-background) solid;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 57px auto 57px;
    font-size: 16px;
    cursor: pointer;
}
.category-select:hover {background-color: #102236;}
.category-select p {cursor: pointer;}
.category-select svg {
    font-size: 16px;
    margin: 20px;
}
#ohno {background: var(--secondary-background)}
.grid_ct button {
    background: transparent;
    text-decoration: underline;
    padding: 0px !important;
    width: 100%;
    text-align: left;
    margin: 10px 0px;
}
</style>