---
---
{% include header.html %}

<section style="height: 300px;" id="hero">
    <h1>Help Center - Minecraft</h1>
    {% include search-lunr.html %}
</section>

<section id="category">
    <div class="grid_ct">
        <div class="ct">
            <h1>General</h1>
            <ui>
                {% for post in site.tags.mcgeneral %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ui>
        </div>
        <div class="ct">
            <h1>Plugins</h1>
            <ui>
                {% for post in site.tags.plugins %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ui>
        </div>
        <div class="ct">
            <h1>BungeeCord</h1>
            <ui>
                {% for post in site.tags.Bungeecord %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ui>
        </div>
    </div>
</section>

<style>

</style>

<!-- <h1>Cats:</h1>
{% for post in site.categories.Cats %}
 <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

<h1>Dogs:</h1>
{% for post in site.categories.Dogs %}
 <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %} -->

